body{
    /* background-color: red; provvisorio */
}

/* inizio css header */
    .ms_w_150px{
        width: 150px;
    }

    .ms_w_30px{
        width: 30px;
    }
/* fine css header */

/* inizio css main */

    /* inizio css jumbotron */
        #jumbotron_top{
            width: 100%;
            height: 675px;
            background-image: url("../img/jumbo-bg.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .ms_w_400px{
            width: 400px;
        }

        .ms_bg_button_acquista{
            background-color: #d43d22;
            border-color: #d43d22;
        }

        .ms_selezionato{
            border: 2px solid #0070f7;
            padding: 2px;
            border-radius: 20px;
        }

        .ms_rounded{
            border-radius: 20px;
            overflow: hidden;
        }
    /* fine css jumbotron */

    /* inizio section #presentazione */
        .ms_fs_12px{
            font-size: 12px;
        }

        .ms_w_100px_w_md_200px{
            width: 200px;
        }
    /* fine section #presentazione */

/* fine css main */

/* inizio media queries */
    @media screen and (min-width: 768px) {
        .ms_w_100px_w_md_200px{
            width: 100px;
        }
    }
/* fine media queries */