body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: red; provvisorio */
}

/* inizio css header */
    /* ms_w_150px è utilizzato anche nella sezione footer_bottom */
    .ms_w_150px{
        width: 150px;
    }

    .ms_w_30px{
        width: 30px;
    }
/* fine css header */

/* inizio css main */

    /* inizio css jumbotron */
        #jumbotron_top{
            width: 100%;
            height: 675px;
            background-image: url("../img/jumbo-bg.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .ms_w_400px{
            width: 400px;
        }

        .ms_bg_button_acquista{
            background-color: #d43d22;
            border-color: #d43d22;
        }

        .ms_selezionato{
            border: 2px solid #0070f7;
            padding: 2px;
            border-radius: 20px;
        }

        .ms_rounded{
            border-radius: 20px;
            overflow: hidden;
        }
    /* fine css jumbotron */

    /* inizio section #presentazione */
        .ms_fs_12px{
            font-size: 12px;
        }

        .ms_w_160px_w_md_200px{
            width: 160px;
        }

        .ms_device_selezionato{
            border-bottom: 3px solid #0070f7;
        }

        .hover{
            opacity: 0.5;
        }

        .hover:hover{
            opacity: 1;
            border-bottom: 3px solid #0070f7;
        }
    /* fine section #presentazione */

    /* inizio section it_take_two */
        #it_take_two{
            width: 100%;
            height: 956px;
            background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .ms_w_300px{
            width: 300px;
        }
    /* fine section it_take_two */

    /* inizio section playstation_4 */
        .ms_border_none{
            border: none;
        }
    /* fine section playstation_4 */

    /* inizio section playstation_plus */
        #playstation_plus{
            background-color: #bdbbba;
        }

        /* ms_w_250px è utilizzato anche nella sezione playstatio_now */
        .ms_w_250px{
            width: 250px;
        }
    /* fine section playstation_plus */

    /* inizio section playstation_now */
        #playstation_now{
            background-color: #1c223c;
        }
    /* fine section playstation_now */

    /* inizio section footer_bottom */
        #footer_bottom{
            background-color: #004697;
        }

        .ms_w_20px{
            width: 20px;
        }
    /* fine section footer_bottom */






/* fine css main */
